{% extends 'base.html' %}

{% block content %}
    <div class="container content">
        <div class="row">
            <div class="col-md-4">
                <div id="sources-left">
                    <h4 class="text-center">News Sources</h4>
                    {% for source in sources %}
                    <a href="/">
                        <div class="source">
                            <h4> {{ source.name }} </h3>
                            <p> {{ source.description }} </p>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-8">
                <div id="headlines-right">
                    <h4 class="text-center">Top Headlines</h4>
                    {% for article in articles %}
                    <a href="/">
                        <
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}