{% extends 'base.html' %}

{% block content %}
    <div class="container content">
        <div class="row">
            <div class="col-md-5">
                <div id="sources-left">
                    <h4 class="text-center">News Sources</h4>
                    {% for source in sources %}
                    <a href="/">
                        <div class="source">
                            <h4> {{ source.name }} </h3>
                            <p> {{ source.description }} </p>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-7">
                <div id="headlines-right">
                    <h4 class="text-center">Top Headlines</h4>
                    {% for article in headlines %}
                    <a href="/">
                        <div class="article">
                            <div class="article-img" style="background: url({{article.url_to_image}});"></div>

                            <div class="article-content">
                                <p>
                                    <span class="author">By {{ article.author }}</span> · <span class="headline"> {{ article.published_at }} </span>
                                </p>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}