{% macro showArticlesList(articles) %}
    {% for article in articles %}
        <a href="/">
            <div class="article">
                <div class="article-img" style="background: url({{article.url_to_image}});"></div>
        
                <div class="article-content">
                    <div class="article-info">
                        <span>By {{ article.author }}</span>
                        <b> · </b>
                        <span> {{ article.published_at }} </span>
                    </div>
                    <div class="article-headline">
                        {{ article.title }}
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
{% endmacro %}